* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes bgcolor {
  0% {
    background-color: #001aff;
  }

  50% {
    background-color: #4400ff;
  }

  100% {
    background-color: #8400ff;
  }
}

body {
  -webkit-animation: bgcolor 5s infinite;
  animation: bgcolor 5s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: gray;
  padding: 8px;
  text-align: center;
}
footer a {
  color: gray;
}

/* navigation bar */
ul {
  list-style-type: none;
}
a {
  color: white;
}
nav {
  color: white;
  padding: 10px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  color: white;
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.links a {
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: 0.3s;
  text-decoration: none;
}
.links a:hover {
  padding-left: 1.5rem;
  text-shadow: 1px 1px 5px gray;
}
.links {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.show-links {
  height: 5rem;
}
.turn-toggle {
  transform: rotate(45deg);
  transition: 0.3s;
}
@media screen and (min-width: 700px) {
  .nav-center {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
  }
}

/* home */
p {
  font-size: 1.4rem;
  color: white;
  margin-top: 0.4rem;
  text-shadow: 1px 1px 15px rgb(251, 0, 255);
}
img {
  margin: 1.5rem;
  border-radius: 20px;
}
#love {
  text-align: center;
  padding: 1rem;
}
#title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
  color: white;
  text-shadow: 1px 1px 10px cyan;
}
.button {
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
  font-size: 30px;
  filter: invert(100%);
  border-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 0px 15px;
}
.button:active {
  box-shadow: 0px 0px 30px;
  transition: 0.1s;
}

.reason {
  margin: 50px;
  padding: 10px;
  -webkit-animation: tcolor 10s infinite;
  animation: tcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  font-size: 27px;
}
